/* /c:/Users/user/Desktop/AppPerizie/src/app/login/login.page.scss */
ion-header {
    --background: var(--ion-color-primary);
    --color: black;     
    --border-color: var(--ion-color-primary-tint);
}

ion-content.custom-background {
    --background: var(--ion-color-base);
}

.text-primary {
    color: var(--ion-color-primary);
}

.text-danger {
    color: var(--ion-color-danger);
}
