<ion-header>
  <ion-toolbar>
    <ion-title>Cambia Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h1 class="text-primary">Cambia la tua Password</h1>
  </div>

  <ion-card class="ion-padding" style="max-width: 400px; margin: auto;">
    <ion-card-content>
      <form (submit)="onSubmit($event)">
        <ion-item>
          <ion-label position="stacked">Nuova Password</ion-label>
          <ion-input
            type="password"
            placeholder="Inserisci la nuova password"
            required
            [(ngModel)]="nuovaPassword"
            name="nuovaPassword"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Conferma Password</ion-label>
          <ion-input
            type="password"
            placeholder="Conferma la nuova password"
            required
            [(ngModel)]="confermaPassword"
            name="confermaPassword"
          ></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="ion-margin-top">Cambia Password</ion-button>
      </form>

      <p id="errorMessage" class="ion-text-center text-danger">{{ errorMessage }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>