body {
    background: linear-gradient(135deg, #2c3e50, #4ca1af); /* Palette scura: blu notte e azzurro petrolio */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff; /* Cambiato il colore del testo per contrastare lo sfondo scuro */
}

#card {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    padding: 50px; /* Aumentato il padding */
    width: 500px; /* Aumentata la larghezza */
    text-align: center;
}

#logo {
    width: 120px; /* Aumentata la dimensione del logo */
    margin-bottom: 40px; /* Maggiore spazio sotto il logo */
}

.form-label {
    font-weight: bold;
    color: #555; /* Colore più scuro per contrasto */
    text-align: left;
    display: block;
    margin-bottom: 12px; /* Maggiore spazio sotto le etichette */
    font-size: 1.2rem; /* Aumentata la dimensione del testo */
}

.form-control {
    border-radius: 8px;
    border: 1px solid #bbb;
    padding: 14px; /* Aumentato il padding */
    margin-bottom: 25px; /* Maggiore spazio tra i campi */
    font-size: 1.2rem; /* Aumentata la dimensione del testo */
}

#btnLogin {
    background-color: #6c63ff; /* Colore viola chiaro */
    border: none;
    color: #fff;
    padding: 14px 30px; /* Aumentato il padding */
    font-size: 1.4rem; /* Aumentata la dimensione del pulsante */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

#btnLogin:hover {
    background-color: #574b90; /* Colore viola più scuro */
}

.alert {
    display: none;
    font-size: 1rem; /* Aumentata la dimensione del testo */
    margin-top: 15px;
    border-radius: 8px;
}

.alert-danger {
    background-color: #ffe6e6;
    color: #d9534f;
    border: 1px solid #f5c6cb;
}

button.close {
    color: #d9534f;
    font-size: 1.2rem;
    border: none;
    background: none;
    cursor: pointer;
}

.icona-rossa {
    color: #dc3545;
    border: 1px solid #dc3545;
    padding: 16px; 
    width: 100%; 
    border-radius: 8px; 
    margin: 18px auto; 
    font-size: 1.2rem; 
}

@media screen and (max-width: 768px) {
    #card {
        width: 95%;
    }
}