body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='580' preserveAspectRatio='none' viewBox='0 0 1440 580'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1473%26quot%3b)' fill='none'%3e%3crect width='1440' height='580' x='0' y='0' fill='url(%23SvgjsLinearGradient1474)'%3e%3c/rect%3e%3cpath d='M 0%2c105 C 96%2c139 288%2c272 480%2c275 C 672%2c278 768%2c128.6 960%2c120 C 1152%2c111.4 1344%2c209.6 1440%2c232L1440 580L0 580z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c395 C 72%2c422.4 216%2c545.8 360%2c532 C 504%2c518.2 576%2c338.4 720%2c326 C 864%2c313.6 936%2c468.4 1080%2c470 C 1224%2c471.6 1368%2c361.2 1440%2c334L1440 580L0 580z' fill='rgba(40%2c 113%2c 192%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1473'%3e%3crect width='1440' height='580' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='85.07%25' y1='-37.07%25' x2='14.93%25' y2='137.07%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1474'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(1%2c 48%2c 110%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.icona-rossa {
    color: #dc3545;
    border: 1px solid #dc3545;
    padding: 20px !important;
    width: 90%;
}

.form-group {
    width: 90%;
    margin-bottom: 5%;
}

.btn-primary {
    background-color: #4099ff;
    border-color: #4099ff;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s;
}

.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer;
}

#card {
    width: 30%; /* Larghezza in percentuale */
    margin: 5% auto; /* Margine in percentuale */
    padding: 2%; /* Padding interno in percentuale */
    border: 0.5% solid #ddd;
    border-radius: 2%; /* Angoli arrotondati in percentuale */
    box-shadow: 0 2% 4% rgba(0, 0, 0, 0.1); /* Ombra in percentuale */
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 20%; /* Logo proporzionato */
    margin-bottom: 5%;
}

.form-label {
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 2%;
    color: #333;
}

.form-control {
    width: 100%;
    margin-bottom: 5%;
    padding: 2%;
    border-radius: 2%;
    border: 0.5% solid #ccc;
}

#btnLogin {
    width: 90%;
    padding: 3%;
    font-size: 1.8rem;
    border-radius: 2%;
    background-color: #4099ff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#btnLogin:hover {
    background-color: #3078cc;
}

.alert {
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
}

@media screen and (max-width: 850px) {
    #card {
        width: 90%;
        height: auto;
    }
    .form-control {
        width: 100%;
    }
    #btnLogin {
        width: 100%;
    }
    #google-signin-button {
        margin-left: 17%;
    }
}